
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome!</h1>
<h2>How's it going?</h2>
<h3>My name is Dominique Moussi and this is my Lab 4!</h3>
<p>If possible, I'd really appreciate if you could make some type of practice quizes to help us study for exams.</p>
